/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background: linear-gradient(to bottom, #3d54bd, white);
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  background-color: #3d54bd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-Radius: "20px";
  padding: "5px";
  border: "1px solid blue";
  gap: "10px";
}

.buttons :hover {
 color: black;
}

/* Estilos padrão para a imagem */
.imgLogo {
  width: 300px;
  height: 300px;
  /* Outras propriedades de estilo para a imagem, se necessário */
}

/* Media query para telas menores que 768px (dispositivos móveis) */
@media (max-width: 768px) {
  .imgLogo {
      display: none; /* Esconde a imagem */
  }
}

